@import "../../glb.scss";
 
.skillsList{
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    @include mobile{
        font-size: 11px;
        margin: 5px 0;
    }

    &.active{
        background-color: $mainColor;
        color: white;
    }
}