@import "../../glb.scss";

form{
    width: 70%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    input{
        width: 700px;
        height: 25px;
        font-size: 15px;
        border-color: black;
        border-radius: 10px;

        @include mobile{
            width: 200px;
            height: 30px;
        }
    }

    textarea{
        width: 700px;
        height: 100px;
        font-size: 15px;
        border-color: black;
        border-radius: 10px;

        @include mobile{
            width: 200px;
            height: 110px;
        }
    }

    button{
        width: 350px;
        height: 40px;
        color: white;
        background-color: black;
        border: none;
        border-radius: 20px;
        font-weight: 500;
        cursor: pointer;
    }

    p{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 700px;
        overflow: hidden;
    }
}