@import "../../glb.scss";

form{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input{
        width: 250px;
        height: 30px;
        font-size: 17px;
        border-radius: 5px;
        padding: 10px;


        @include mobile{
            width: 200px;
            height: 20px;
            font-size: 15px;
            padding: 5px;

        }
    }

    textarea{
        width: 250px;
        height: 170px;
        font-size: 17px;
        border-radius: 5px;
        padding: 10px;


        @include mobile{
            width: 200px;
            height: 110px;
            font-size: 15px;
            padding: 5px;

        }
    }

    button{
        width: 150px;
        height: 40px;
        color: white;
        background-color: black;
        border: none;
        border-radius: 20px;
        font-weight: 500;
        cursor: pointer;
        margin-top: 2em;
        margin-bottom: 1em;

    }

    p{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 700px;
        color: green;
        overflow: hidden;
    }
}